# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
ENV/
env/

# Virtual environment requirements
requirements.txt

# Editors
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.bak
*.orig

# Docker
*.tar
*.img
*.pid

# K8s / Helm
charts/.tgz
manifests/tmp/

# Local cluster configs
.kube/
*.kubeconfig

# Just ignored
00ignored/*


k8s/manifests/prod-k8s-ssh-key.yaml
k8s/manifests/prod-k8s-ghcr-creds.yaml
k8s/manifests/hass-backup.yaml

RELEASE_GUIDE.md
